.btn {
    background-color: #0077ff;
    
    border-radius: 50px;
    border: none;
    outline: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 10px 20px;
    gap:10px;

    margin: 0 auto;

    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #014a9c;
}

.text {
    font-size: 18px;
    color: #fff;
}