.container {
    composes: container from '../../App.module.css';
}


.roomHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.heading {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    margin: 30px 0;
}

.heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 4px;
    width: 60%;
    background-color: #0077FF;
    z-index: 4;
}

.searchBox {
    background-color: #262626;
    min-width: 250px;
    padding: 0 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.searchIcon {
    margin-top: 3px;
}

.searchInput {
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

.startRoomButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #20bd5f;
    padding: 10px 20px;
    border-radius: 20px;
    gap: 10px;

    transition: all 0.3s;

    cursor: pointer;
}

.startRoomButton:hover {
    background-color: #189148;
}

.startRoomText {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.roomList {
    /* background-color: ; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
}